/*Styles form for every page*/
#html{
    background-color: #E0E0E0;
}
body {
    background-color: #E0E0E0;
    margin:0px;
}
.jumbotron {
    background-color: #1f3576;
    text-align: center;
}
#SchoolName{
    margin: 0px;
    font-size: 65px; 
    font-family: monospace; 
    font-weight: bold; 
    color: #E0E0E0; 
    text-decoration: none; 
    text-align: center;
}
.container-fluid{
    padding-bottom: 20px;
}
.nav.navbar-nav{
    margin:0;
    padding: 0;
    display: inline-block;
    float: none;
    width: 459px;
}
li{
    list-style-type: none;
}
li a:hover {
    background-color: #1f3576;
}
li a {
    display: block;
    font-family: Cooper Std;
    font-size: 18px;
    color: #ecf2f9;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 15px;
    width: 165px;
}
#btn-time{
    margin-right: 10px;
    font-family: monospace;
      height: 49px;
    width: 184px;
}
#btn-hours{
    font-family: monospace;
    margin-left: 10px;
    height: 49px;
    width: 184px;
}
#InteractivePage{
    background-color: #E0E0E0;
}
#navigation{
    border-bottom: 8px double #50504E; 
    height: 30px; 
    text-align: center;  
    font-family: monospace; 
    font-weight: bold;
    background-color: #3f69e2;
}
/*End of Every Page Styles*/

/*Sign in Page*/
#WholeSignInPage{
    text-align: center;
}
#SignInSchoolLogo{
    text-align: center; 
    height: 150px; 
    width: 150px;
}
#SignInLabel{
    border-width: 8px; 
    border-color: #2D2D2C; 
    font-family: monospace; 
    font-size: large; 
    border-left-style: none; 
    border-bottom-style: double;
}
/*end of Sign in Page*/

/*time Clock Page*/
#timeClock{
    
}
#btnTimeClock{
    background-color: #3F69E2; 
    font-family: monospace;
    font-weight: bold; 
    color:#E0E0E0; 
    Font-Size: 23px; 
    Width: 215px; 
    border: none;
    Height: 30px; 
}
#btnHoursWorked{
    background-color: #3F69E2; 
    font-family: monospace;
    font-weight: bold; 
    color:#E0E0E0; 
    Font-Size: 23px; 
    Width: 215px; 
    border: none;
    Height: 30px; 
}
#timeClockHeader{
    text-align: center;
    font-family: monospace; 
    font-size: 45px; 
    font-weight: bold; 
    color: #50504E; 
    font-variant: normal; 
    text-transform: uppercase; 
    text-decoration: none; 
    font-style: italic;
}
#Time{
    text-align: center; 
    font-size: medium;
}
#txtBxDisplayTime{
    text-align: center; 
    Font-Size: 30px;     
    Border: None; 
    Width: 200px; 
    background-color: #E0E0E0; 
    font-family: monospace;
}
#txtBxDisplayDay{
    text-align: center; 
    Font-Size: 30px;
    Border: None; 
    Width: 500px; 
    background-color: #E0E0E0; 
    Font-family:monospace;
}
#dropDown{
    text-align: Center;
    Font-family: monospace; 
    Font-Size: X-Large;
}

#ClockInOut{
    text-align: center;
    padding-bottom: 50px;
}
/*#drpDwnWorkId{
    Font-family: monospace;
    font-size: 15px;

}*/
#chkBxLunch{
    font-weight: bold;
    font-family: monospace;
    Font-Size: 15px; 
    Color: #1F3576; 
}
#btnChangeRole{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: #e6f3ff;
    width: 150px;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    color: #50504E;
    }
#lblAlert, #lblTimeClockStatus{
    font-family: monospace;
    color:  #1F3576;
}
#btnClockIn{
    background-color:#50504E; 
    font-weight: bold; 
    Font-family: "monospace";
    Font-Size: 22px;
    Width: 150px;
    Border: None;
    color:#E0E0E0; 
    Height: 30px; 
    Border-Color: #E0E0E0;
}
#btnClockOut{
    background-color:#50504E; 
    font-weight: bold; 
    Font-family: "monospace";
    Font-Size: 22px;
    Width: 150px;
    Border: None;
    color:#E0E0E0; 
    Height: 30px; 
    Border-Color: #E0E0E0;
}
/*end of Time Clock Page*/

/*Hours Worked Page*/
#HoursWorked{
    text-align: center; 
}
#HoursWorkedHeader{
    text-align: center;
    font-family: monospace; 
    font-size: 45px; 
    font-weight: bold; 
    color: #50504E; 
    font-variant: normal; 
    text-transform: uppercase; 
    text-decoration: none; 
    font-style: italic;
}
#HoursWorkedTable{
    margin: auto;
    width: 218px;
    height: 96px;
    Border-Width: 2px; 
    Padding: 5px; 
}
/*Hours Worked table*/
/*Hours Worked table Headers*/
#wk1Header, #wk2Header, #wk3Header, #wk4Header, #wk5Header, #wk6Header{
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    width: 100px;
    color: #e6f3ff;
    background-color: #50504E;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0px;
    border-bottom: 5px solid #e6f3ff;
}
#TotalHeader{
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    color: #50504E;
    background-color: #e6f3ff;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0px;
    border-bottom: 5px solid #50504E;
}
/*Hours Worked table - Sunday*/
#Sunday{
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: #1f3576;
    border-bottom: thin solid #666666;
    Padding: 6px;
    margin: 0px;
}
#Wk1Sun, #Wk2Sun, #Wk3Sun, #Wk4Sun, #Wk5Sun, #Wk6Sun{
    text-align: center;
    color: #1f3576;
    font-size: 20px;
    height: 23px;
    width: 69px;
    border-bottom: thin solid #666666;
}
/*Hours Worked table - Monday*/
#Monday{
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: #1f3576;
    border-bottom: thin solid #666666;
    Padding: 6px;
    margin: 0px;
}
#Wk1Mon, #Wk2Mon, #Wk3Mon, #Wk4Mon, #Wk5Mon, #Wk6Mon{
    text-align: center;
    font-size: 20px;
    color: #1f3576;
    height: 23px;
    width: 69px;
    border-bottom: thin solid #666666;
}

/*Hours Worked table - Tuesday*/
#Tuesday{
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: #1f3576;
    border-bottom: thin solid #666666;
    Padding: 6px;
    margin: 0px;
}
#Wk1Tues, #Wk2Tues, #Wk3Tues, #Wk4Tues, #Wk5Tues, #Wk6Tues{
    text-align: center;
    font-size: 20px;
    color: #1f3576;
    height: 23px;
    width: 69px;
    border-bottom: thin solid #666666;
}
/*Hours Worked table - Wednesday*/
#Wednesday{
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: #1f3576;
    border-bottom: thin solid #666666;
    Padding: 6px;
    margin: 0px;
}
#Wk1Wed, #Wk2Wed, #Wk3Wed, #Wk4Wed, #Wk5Wed, #Wk6Wed{
    text-align: center;
    font-size: 20px;
    color: #1f3576;
    height: 23px;
    width: 69px;
    border-bottom: thin solid #666666;
}
/*Hours Worked table - Thursday*/
#Thursday{
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: #1f3576;
    border-bottom: thin solid #666666;
    Padding: 6px;
    margin: 0px;
}
#Wk1Thur, #Wk2Thur, #Wk3Thur, #Wk4Thur, #Wk5Thur, #Wk6Thur{
    text-align: center;
    font-size: 20px;
    color: #1f3576;
    height: 23px;
    width: 69px;
    border-bottom: thin solid #666666;
}
/*Hours Worked table - Friday*/
#Friday{
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: #1f3576;
    border-bottom: thin solid #666666;
    Padding: 6px;
    margin: 0px;
}
#Wk1Fri, #Wk2Fri, #Wk3Fri, #Wk4Fri, #Wk5Fri, #Wk6Fri{
    text-align: center;
    font-size: 20px;
    color: #1f3576;
    height: 23px;
    width: 69px;
    border-bottom: thin solid #666666;
}

/*Hours Worked table - Saturday*/
#Saturday{
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: #1f3576;
    border-bottom: thin solid #666666;
    Padding: 6px;
    margin: 0px;
}
#Wk1Sat, #Wk2Sat, #Wk3Sat, #Wk4Sat, #Wk5Sat, #Wk6Sat{
    text-align: center;
    font-size: 20px;
    color: #1f3576;
    height: 23px;
    width: 69px;
    border-bottom: thin solid #666666;
}
/*Hours Worked table - Total*/
#Total{
    font-family: monospace;
    background-color: #e6f3ff;
    font-weight: bold;
    font-size: 20px;
    color: #1f3576;
    Padding: 6px;
    margin: 0px;
}
#Wk1Total, #Wk2Total, #Wk3Total, #Wk4Total, #Wk5Total, #Wk6Total{
    text-align: center;
    font-size: 20px;
    color: #1f3576;
    height: 23px;
    width: 69px;
    background-color: #e6f3ff;
}
 #FinalTotal{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #50504E;
    height: 23px;
    width: 69px;
    background-color: #e6f3ff;
 }


/*End of Hours Worked Page*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: darkslategray;*/
}

li {
    float: left;
}